<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>課題一覧</title>
</head>
<body>
<h1>課題一覧</h1>
<a href="../index.html" th:href="@{/}">トップページ</a>
<table>
	<thead>
	<tr>
		<th>id</th>
		<th>概要</th>
		<th>説明</th>
	</tr>
	</thead>
	<tbody>
	<tr th:each="issue : ${issueList}">
		<th th:text="${issue.id}">(id)</th>
		<th th:text="${issue.summary}">(summary)</th>
		<th th:text="${issue.description}">(description)</th>
	</tr>
	</tbody>
</table>
</body>
</html>